ul {
  list-style-type: none;
  font: italic 10px Georgia;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 6px;

}

h1{
  font: 39px Georgia;
  margin: 0;
  padding: 5px;
  color: #363232;
}

a{
  color: #4c4a4a;
  text-decoration: none;
}

a:focus {
  color: black;
}


a.b{
  color: black;
}


 
.center {
  text-align: center;
  margin: 25px auto;
  width: 31%;
  border: 1px solid #000000;
  padding: 12px;
}

Img{
  object-fit: cover;
}


.grid1 { 
  
  display: grid;
  grid-gap: 5px;
  grid-template-columns:repeat(2, 272px);
  margin-top: 60px;
  justify-content: center;
}

.grid2 { 
  
  display: grid;
  grid-gap: 5px;
  grid-template-columns:repeat(2, 272px);
  margin-top: 5px;
  justify-content: center;
}

P{
  font: italic 7px Georgia;
  margin-top: 23px;
  text-align: center;
}

.media{
  display: grid;
  grid-template-columns:repeat(3, 30px);
  justify-content: center;
  margin-top: 18px;
  Margin-left: 15px;
}

H2{
  
  font: 20px Georgia;
  margin-top: 30px;
  Margin-bottom: 0px;
  Margin-left:436px;
  
}

